body{
   background-color:rgb(74, 17, 78);
}
h1{
    text-align: center;
    color:burlywood;
}
input[type=text], input[type=password] {
    font-size: x-small;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
